/*************TAG SELECTORS****************/
body {
    background-color: #4a3f35;
    margin: 0;
    text-align: center ;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
  }

  hr {
    border-style: none;
    border-top-style: dotted;
    border-color:orangered;
    border-width: 5px;
    height: 0;
    width: 10%;
  }
  h1{
      color: #fa7d09;
      text-align: center;
  }
  a{
      color:#2f2519;
  }
  h3{
      color:#ffa931 ;
      
  }
  a:hover{
      color: gold;
  }
  th{
      color: gold;
  }
  td{
      color: #ffa931;
  }
  /*************CLASS SELECTORS****************/
  .backbutton{
      color: sandybrown;
      
  }
  .conlinks{
      color: lightcoral;
  }
  .edudiv{
      background-color: #2f2519;  
  }
  .skilldev{
      background-color: #2f2519;
  }
  .workdiv{
      background-color: #2f2519;
  }
  .contactdiv{
      background-color: #2f2519;
  }
  .edutable{
      margin: auto;
      padding-top: 100px;
      padding-bottom: 50px;
  }
  .skilltable{
      margin: auto;
      padding-top: 100px;
      padding-bottom: 50px;
  }
  .worktable{
      margin: auto;
      padding-top: 100px;
      padding-bottom: 50px;
  }
  .contacttable{
      margin: auto;
      padding-top: 100px;
      padding-bottom: 50px;
  }
  .myname{
      background-color: #2f2519;
      text-align: center;
  }

  .aboutme{
      background-color: #2f2519;
      margin: 0 auto 0 auto
      
  }
  .table1{
      margin: auto;
  }
  .mypic{
      padding: 10px; 
  }
  .toppics{
      padding: 10px;
      
  }
  
  .details{
      background-color: #fa7d09;
  }
  .h31{
      display: inline-block;
  }
  .h32{
      display: inline-block;
  }
  .quote{
      color: gold;
  }